.names {
  display: flex;
  font-size: 50px;
  margin-top: 10px;

  &__heart {
    margin: -5px 10px 0 15px;
    font-size: 45px;

    @media only screen and (max-width: 390px) {
      margin: -5px 8px 0 13px;
    }
  }

  @media only screen and (max-width: 390px) {
    font-size: 45px;
  }

  @media only screen and (max-width: 340px) {
    font-size: 40px;
  }
}
