.app {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70vw;

  &__us {
    height: 450px;
  }

  &__final {
    margin-top: 30px;
    font-size: 28px;
    color: #37492f;
    text-align: center;
  }
}
