#root {
  --i-light-green: #cbd7ad;
  --i-green: #687363;
  --i-white: #f1e4d3;
  --i-pink: #cdaa94;

  background-color: #f4f1f1;

  overflow-x: hidden;
  min-height: 100vh;

  padding-bottom: 30px;
}
