@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap"); // Kiwi Maru

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
#root {
  font-family: "Kiwi Maru", serif;
  font-size: 18px;

  color: #363636;
}

.namesFont {
  font-family: 'Alex Brush', cursive;

  color: #000;
}

.disableSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
